<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Model1Container" connectionString="metadata=res://*/Movies.csdl|res://*/Movies.ssdl|res://*/Movies.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost\SQLEXPRESS;Integrated Security=True;Initial Catalog=Movies;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>